*{
    padding: 0;
    margin: 0;
}

#linkAdmin{
    text-decoration: none;
}

 .cardBtn{
        background-color: #074f55 ;
    }
    .body{
        background-color: #d6e0e1 ;
    }
    .colorNav{
        background-color: #3a6a6f ;
    
    }

